h1{
    text-align: center;
}

.btn-success{
    margin-left: 15px;
    float: right;
}

.btn-danger{
    float: right;
}

.done{
    text-decoration: line-through;
    color: gainsboro;
}

.done:hover{
    text-decoration: line-through;
    color: gainsboro;
}